# **PRACTICAL** QUESTIONS

In [ ]:
# QUES-1
print("Hello World")

Hello World

In [ ]:
#QUES-2
Name = "Sneha Singhal"
Age = 21
print(f"My Name is {Name}")
print(f"My Age is {Age}")

My Name is Sneha Singhal
My Age is 21

In [ ]:
# QUES-3
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# QUES-4
import keyword
word = input("Enter a word to check if it's a Python keyword: ")
if keyword.iskeyword(word):
    print(f"{word} is a Python keyword.")
else:
    print(f"{word} is NOT a Python keyword.")

Enter a word to check if it's a Python keyword: is
is is a Python keyword.

In [ ]:
#Ques-5
list_1=[1,2,3,"Sneha","Data Science"]
print(list_1)
list_1[3]="pw skills"
print(list_1)

# Tuple

tuple_1=(1,2,3,"Sneha","Data Science")
print(tuple_1)
#tuple_1[3]="pw skills"
#print(tuple_1)

[1, 2, 3, 'Sneha', 'Data Science']
[1, 2, 3, 'pw skills', 'Data Science']
(1, 2, 3, 'Sneha', 'Data Science')

In [ ]:
# Ques-6

# Mutable-> The list can be change

list_1=[(3+7j),4.5,"my","Mango"]
print(list_1)
list_1[2]="Pineapple"
print(list_1)

# Immutable-> The String can't be changed

Str_1="Sneha"
print(Str_1)
#Str_1[2]="a"
#print(Str_1)

[(3+7j), 4.5, 'my', 'Mango']
[(3+7j), 4.5, 'Pineapple', 'Mango']
Sneha

In [ ]:
# Ques-7
num_1=int(input("Enter a number "))
num_2=int(input("Enter a number "))
print(f"The sum of {num_1} and {num_2} is {num_1+num_2}")
print(f"The difference of {num_1} and {num_2} is {num_1-num_2}")
print(f"The product of {num_1} and {num_2} is {num_1*num_2}")
print(f"The division of {num_1} and {num_2} is {num_1/num_2}")

Enter a number 42
Enter a number 12
The sum of 42 and 12 is 54
The difference of 42 and 12 is 30
The product of 42 and 12 is 504
The division of 42 and 12 is 3.5

In [ ]:
# Ques-8
a=True
b=False
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [ ]:
# Ques-9
num = input("Enter a number ")
type(num)
num=int(num)
type(num)
num=float(num)
type(num)
num= bool(num)
type(num)

Enter a number 0

bool

In [ ]:
# Ques-10

list_1=[1,"89.65","DSA","Science",(2+3j),0]
type(list_1[1])
list_1[1]=float(list_1[1])
type(list_1[1])
#print(list_1)

[1, 89.65, 'DSA', 'Science', (2+3j), 0]

In [ ]:
# Ques-11
num = int(input("Input a Number"))
if num<0:
  print("Number is Negative")
elif num>0:
  print("Number is Positive")
else:
  print("Number is Zero")

Input a Number0
Number is Zero

In [ ]:
# Ques-12
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ques-13
sum =0
for i in range(1,51):
  if i%2==0:
    sum+=i
print(f"The sum of even numbers from 1 to 50 is {sum}")

The sum of even numbers from 1 to 50 is 650

In [ ]:
# Ques-14
name = input("Enter a string ")
i=len(name)-1
while i>=0:
  print(name[i],end="")
  i-=1

Enter a string pw skills
slliks wp

In [ ]:
#Ques-15
num = int(input("Enter a Number "))
fact =1
while num>0:
  fact*=num
  num-=1
print(f"The factorial of the number is {fact}")

Enter a Number 5
The factorial of the number is 120

# THEORITICAL **QUESTION**

ANS-1-> Python is a programming language which is used in technical field for development of softwares . It was developed by Guido Van Rossum. It is very popular because of its simple syntax, Easy to learn and the collection of huge libraries (for each field python has different different libraries).It is open source which means anybody can contribute to it which led to its never ending development

ANS-2 --> Python is an interpreted languaue. Interpreter generally means in which the code is executed by line by line not like java in which the code execution starts from main function. In python the code executes by line by line.

ANS-3--> Pre-defined keywords are the words in python those have some pre-built functionalities in python. We can't create the variables same name as predefined keywords.

ANS-4--> No, keywords can't be used as variable names

ANS-5-->Mutablility means the data can change. Like in list or set we can change the data .
list_1=[1.5.7.8,"College","Circle"]
list_1[1]="Sneha"
print(list_1)


Output ->
[1.5,"Sneha","College","Circle"]

This is called mutable data type in which the data can change.

ANS-6--> list are mutable because they are designed to be flexible container and list is implemented using dynamic arrays.

 Tuple are immutable because they are designed to be fixed collections . they don't use the method such as append() because of its immutable nature.

ANS-7 --> "==" operator is used to check the value between variables like:
a=7
b=8
a==b
then it will check that the value of a and b is same or not and based on that it will give true or false.

"is" operator is used to check the same memory allocationof variables like:
a=7
b=a
b is a
here we have assign the memory allocation of a to b and is operator is checking the same memory allocation of both variables and based on that it will give true or false

ANS-8 --> Logical Operator are the operator like and , or, not


*   And Opeartor -> It gives True when both the variables are true if one of them is false then the ans is false
1.a=True
b=False
a and b
False
2. a=True
   b= True
   a And b
   True
  
3. a= False
   b= True
   a And b
    FALSE

4. a= False
   b= False
   a And b
   False

*   OR Operator -> It gives False only when both are false otherwise it gives only true

1. a= True
   b= True
   a Or b
   True
2. a= False
   b= True
   a Or b
   True
3. a= True
   b= False
   a Or b
   True
4. a= False
   b= False
   a Or b
   False



*   NOT Operator -> It gives opposite. if it is true it will give true , it is false then it will give true

a= True
b= False
1. not a = False
2. not b = True

ANS-9 --> Type casting means to change the type of the data . It can be done in two ways explicit and implicit .

ANS-10 -->Implicit TypeCasting--> when the interpreter itself defines the type of the variable it happens during declaring and defining the variable . what type of data we store in variable the variable will be of that data type by default. it is known as implicit typecasting.
a= 12
here the data type of a is integer
name ="Sneha"
Here the data type is string

Explicit Typecasting--> by externally changing the data type of a variable . such as input function takes every data in string format but we need to convert that string into different - different datatype such as int, float, boolean to perform actions there we use the explicit typecasting.

a= "7.9"
a= float(a)
print (a)-->
7.9


ANS-11--> Conditional statements are those statements which are used to perform conditions . Generally python have 3 type of conditional statement .i.e.
1. if-else statement
2. if-elif-else statement
3. nested if-else statement

--> if-else-:In the if block we usually put the condition and then the body and if the condition is false then the else block will run.
 syntax-

  if condition :
    body

  else:
    body

--> if-elif-else statement-: In this if is used to check the condition , if the condition is true then if block runs otherwise it goes to elif block and again check the condition if the elif condition is true then that block runs if either of them is not true then the else block will run.

syntax -:

 if condition:
    body

 elif condition:
    body

 else:
    body

--> nested if-else statement-: when there is a condition inside the condition there we use nested if- else statement.

 syntax-:
  if condition:

    if condition: body

    else: body

  elif condition:

    if condition: body

    else:body

  else:body

ANS-12--> elif statement

when there are two or more conditions used in a program there elif comes in the picture . We have written the if condition but still more conditions are left to write there  we use the elif condition . We will understand this by an example.

We have to write a program to check among 3 numbers which number is greatest.

suppose this numbers are a,b,c
 so first we check that a is big from b or not

 if a>b:

    if a>c:
       print(f"{a} is greater")
    else:
       print(f"{c}is greater")

 elif b>c:

    print(f"{b} is greater")

 else:
  
    print(f"{c} is greater")

ANS-13-->For loop-:

1.it is used when the number of iteration is known.

2.it is designed for iterating over sequences such as list, tuple, set , string etc.

3.Syntax-:

 for item in iterable:
    body to be executed


*  while loop-:

1. It is used when the number of iteration doesn't know .
2. It is used over a specific condition until that condition is not false.
3. Syntax-:

   while condition:
     body

ANS-14--> While loop is more suitable than a for loop in the case where the number of iteration is not known or when the logic doesn't fit into the rigid model of for loop there we use the while loop instead of using the for loop